/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2{
  color: #2c3e50;
}
h3{
  font-size: 1.2rem;
  color: #3498db;
  margin-top: 20px;
}

/* Header */
.main-header {
  background-color: #3498db;
  color: white;
  padding: 15px 20px;
  text-align: center;
}

.header-title {
  margin: 0;
}

.main-nav {
  background-color: #2980b9;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-list li {
  margin: 0 10px;
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
  transition: background 0.3s;
}

.nav-link:hover,
.nav-link.active {
  background-color: #1abc9c;
  border-radius: 5px;
}

/* Main Content */
.main-content {
  padding: 20px;
}

.section-title {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

.internship-detail {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 600px;
}

.internship-role {
  font-size: 1.5rem;
  color: #2c3e50;
  margin-bottom: 10px;
}

.subsection-title {
  font-size: 1.2rem;
  color: #3498db;
  margin-top: 20px;
}

.responsibilities-list,
.skills-list {
  padding-left: 20px;
  list-style-type: disc;
}

/* Footer */
.main-footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.social-links {
  margin-top: 10px;
}

.social-link {
  color: white;
  text-decoration: none;
  margin: 0 5px;
}

.social-link:hover {
  text-decoration: underline;
}
.label {
  display: inline-block; /* Ensures the label and input are inline */
  margin-right: 15px; /* Adds spacing between options */
  cursor: pointer; /* Makes it easier to click */
}
.question {
  margin-bottom: 20px; /* Adds space below each question */
}
.contact-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  font-size: 1.8rem;
  color: #1d3557;
  text-align: center;
  margin-bottom: 20px;
}

/* Form Styles */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1.1rem;
  color: #333;
}

.form-group input, .form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

.form-group textarea {
  resize: vertical;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #457b9d;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.submit-btn:hover {
  background-color: #007BFF;
  text-decoration: underline;
}